// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {
  table {
    border-collapse: collapse;
    tr td {
      padding: 10px;
      vertical-align: middle;
      }
    }
  .list_image{
    vertical-align: middle;
    img{
    width: 250px;
    height: auto;
    }
  }
  .list_description {
  width: 60%;
  padding-bottom: 16px;
    dl {
    margin: 0;
    }
    h3 {
    color: #244;
    font-weight: bold;
    font-size: larger;
    }
  }
  .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
  }
  .list_line_even {
  background: #f8f8f8;
  }
  .list_line_odd {
  background: #ddd;
  }
}
